<button data-controller="webauthn" data-action="click->webauthn#signin" data-webauthn-not-supported-message-value="<%= t('users.webauthn.not_supported') %>" class="primary-action-button">
  <%= t('users.sessions.new.sign_in_with_webauthn') %>
</button>
