<%= turbo_stream_from [creative, :comments] %>
<% if comments.any? %>
  <% current_topic_id = local_assigns[:current_topic_id] %>
  <% comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: { comment: comment, read_by_users: read_receipts&.[](comment.id), present_user_ids: present_user_ids, current_topic_id: current_topic_id } %>
  <% end %>
<% else %>
  <div id="no-comments"><%= t('comments.no_comments') %></div>
<% end %>
