<div class="comments-list" id="comments_list">
  <%= turbo_stream_from [creative, :comments] %>
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  <% else %>
    <div><%= t('comments.no_comments') %></div>
  <% end %>
</div>
