<div id="global-reaction-picker" 
     class="comment-reaction-picker" 
     hidden 
     data-controller="reaction-picker"
     data-action="click@window->reaction-picker#handleClickOutside"
     style="position: fixed; z-index: 9999;">
  <% ["ðŸ‘", "ðŸŽ‰", "â¤ï¸", "ðŸ˜‚", "ðŸ˜®", "ðŸ˜¢", "ðŸ˜¡"].each do |emoji| %>
    <button class="comment-reaction-picker-emoji" 
            type="button" 
            data-action="click->reaction-picker#select" 
            data-emoji="<%= emoji %>">
      <%= emoji %>
    </button>
  <% end %>
</div>
