<div class="progress-filter-group">
  <% states.each do |state| %>
    <button class="progress-filter-btn<%= ' active' if current_state.to_s == state[:value].to_s %>" data-filter="<%= state[:value] %>"><%= state[:name] %></button>
  <% end %>
</div>
