<% if Current.user %>
  <form id="inbox_button_to">
    <button id="inbox-menu-btn" class="inbox-menu-btn" type="button"><%= t('app.inbox') %><%= render Inbox::BadgeComponent.new(user: Current.user, badge_id: local_assigns[:badge_id] || 'desktop-inbox-badge') %></button>
  </form>
<% end %>
