  <h1 class="no-top-margin"><%= t('doorkeeper.applications.edit.title') %></h1>

  <div class="tab-list">
    <button class="tab-button active">
      <%= t('doorkeeper.applications.edit.details') %>
    </button>
  </div>

  <div class="tab-panels">
    <section class="tab-panel active">
      <%= render 'form', application: @application %>
    </section>
  </div>
