<header style="margin-bottom: 1em;">
  <h1 style="margin: 0; font-size: 2em;"> <%= t('app.name') %> </h1>
  <div><%= t('.your_creativeness_is_coming') %></div>
  <div style="color: #888; font-size: 1.1em;"><%= t('.a_tracker_of_your_creatives') %></div>
</header>
