<p>
  <%= t('invitation_mailer.invite.message_html',
         creative: @invitation.creative.description.to_plain_text,
         link: link_to(t('app.here'), invite_url(token: @invitation.generate_token_for(:invite)))) %>
</p>
