<p>
  You have been invited to collaborate on
  "<%= @invitation.creative.description %>".
  Click <%= link_to 'here', invite_url(token: @invitation.generate_token_for(:invite)) %>
  to accept within 15 days.
</p>
