<div id="link-creative-modal" class="common-popup" style="display:none;" data-controller="link-creative">
  <button type="button" id="close-link-creative-modal" class="popup-close-btn" data-link-creative-target="close">&times;</button>
  <h3><%= t('creatives.index.link', default: 'Link') %></h3>
  <input type="text" id="link-creative-search" class="shared-input-surface" style="width:100%;margin-bottom:0.5em;" placeholder="<%= t('creatives.index.search_placeholder', default: 'Search creative') %>" data-link-creative-target="input">
  <ul id="link-creative-results" class="common-popup-list" data-popup-list data-link-creative-target="list"></ul>
</div>
