<% if defined?(read_by_users) && read_by_users.present? %>
  <div class="read-receipt-container">
    <div class="read-receipt-avatars">
      <% read_by_users.each do |user| %>
        <% present_ids = defined?(present_user_ids) ? present_user_ids : nil %>
        <% classes = ['avatar', 'comment-presence-avatar'] %>
        <% classes << 'inactive' if present_ids && !present_ids.include?(user.id) %>
        <div class="read-receipt-avatar" title="<%= t('comments.read_by', name: user.display_name) %>">
          <%= render AvatarComponent.new(
                user: user,
                size: 16,
                classes: classes.join(' '),
                data: { user_id: user.id }
              ) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
