<div id="inbox-items">
  <% if items.any? %>
    <% items.each do |item| %>
      <%= render partial: 'inbox_items/item', locals: { item: item } %>
    <% end %>
  <% else %>
    <div><%= t('inbox.no_messages') %></div>
  <% end %>
</div>
