<div id="inbox-items" data-next-page="<%= next_page || '' %>">
  <% if items.any? %>
    <%= render partial: 'collavre/inbox_items/items', locals: { items: items } %>
  <% else %>
    <div class="inbox-empty"><%= t('collavre.inbox.no_messages') %></div>
  <% end %>
</div>
