<% if creative.progress > 0 and creative.progress < 1 %>
  <p><%= creative.progress %> Progress</p>
<% elsif creative.progress == 1 %>
  <p>Completed</p>
<% else %>
  <p>Todo</p>
  <p>Email me when is progressing.</p>

  <%= form_with model: [creative, Subscriber.new] do |form| %>
    <%= form.email_field :email, placeholder: "you@example.com", required: true %>
    <%= form.submit "Submit" %>
  <% end %>
<% end %>
