<h1><%= t ".title" %></h1>

<%= link_to "New creative", new_creative_path if authenticated? %>
<%= button_to "Recalculate Progress", recalculate_progress_creatives_path, method: :post, form: { data: { turbo_confirm: "Recalculate all parent progress?" } } if authenticated? %>

<div id="creatives">
  <%= render_creative_tree(@creatives.where(parent_id: nil)) %>
</div>
