<h1><%= t ".title" %></h1>

<%= link_to "New creative", new_creative_path if authenticated? %>

<div id="creatives">
  <% @creatives.each do |creative| %>
    <div>
      <%= link_to creative.name, creative %>
    </div>
  <% end %>
</div>
