<div id="slide-view" data-slide-ids="<%= @slide_ids.join(',') %>" data-initial-index="0" data-root-id="<%= @creative.id %>">
  <div id="slide-content"><%= @creative.effective_description.html_safe %></div>
</div>
<div id="slide-swipe"></div>
