/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    font-size: 0.875em;
    gap: 0.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  nav a {
    display: inline-block;
  }
  
  main {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .notice {
    color: green;
  }
  
  section.creative {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  
  section.creative img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
  }
  
  /* Remove link styling for all Creative links */
  .unstyled-link {
    color: inherit;
    text-decoration: none;
  }
  
  .creative-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .creative-progress {
    color: #888;
    font-size: 0.9em;
    margin-left: 10px;
  }