.creative-row-actions {
  visibility: hidden;
}
.creative-row:hover .creative-row-actions {
  visibility: visible;
}

@media (max-width: 768px) {
  .creative-row-actions {
    visibility: visible !important;
  }
}

.creative-actions-row {
    margin: 0.0em 2.0em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.tags {
    margin: 0.2em 2.0em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.creative-tree-bullet {
    width: 5px;
    height: 5px;
    min-width: 5px;
    min-height: 5px;
    max-width: 5px;
    max-height: 5px;
    border-radius: 50%;
    background: var(--color-text);
    margin-right: 8px;
    flex: 0 0 5px;
}