.creative-row-actions {
  visibility: hidden;
}
.creative-row:hover .creative-row-actions {
  visibility: visible;
}

@media (max-width: 768px) {
  .creative-row-actions {
    visibility: visible !important;
  }
}
