.creative-row-actions {
  visibility: hidden;
}
.creative-row:hover .creative-row-actions {
  visibility: visible;
}

@media (max-width: 768px) {
  .creative-row-actions {
    visibility: visible !important;
  }
}

.creative-actions-row {
    margin-left: 2.0em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
