/* TableCellResizer */
.TableCellResizer__resizer {
    position: absolute;
    touch-action: none;
}

@media (pointer: coarse) {
    .TableCellResizer__resizer {
        background-color: #adf;
        mix-blend-mode: color;
    }
}

/* Button */
.Button__root {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.Button__root:hover {
    background-color: #ddd;
}

.Button__small {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.Button__disabled {
    cursor: not-allowed;
}

.Button__disabled:hover {
    background-color: #eee;
}

/* ColorPicker */
.color-picker-wrapper {
    padding: 20px;
}

.color-picker-basic-color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.color-picker-basic-color button {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    list-style-type: none;
}

.color-picker-basic-color button.active {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.color-picker-saturation {
    width: 100%;
    position: relative;
    margin-top: 15px;
    height: 150px;
    background-image:
        linear-gradient(transparent, black),
        linear-gradient(to right, white, transparent);
    user-select: none;
}

.color-picker-saturation_cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 15px #00000026;
    box-sizing: border-box;
    transform: translate(-10px, -10px);
}

.color-picker-hue {
    width: 100%;
    position: relative;
    margin-top: 15px;
    height: 12px;
    background-image: linear-gradient(to right,
            rgb(255, 0, 0),
            rgb(255, 255, 0),
            rgb(0, 255, 0),
            rgb(0, 255, 255),
            rgb(0, 0, 255),
            rgb(255, 0, 255),
            rgb(255, 0, 0));
    user-select: none;
    border-radius: 12px;
}

.color-picker-hue_cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: #0003 0 0 0 0.5px;
    box-sizing: border-box;
    transform: translate(-10px, -4px);
}

.color-picker-color {
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 100%;
    height: 20px;
}

/* Dialog */
.DialogActions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 20px;
}

.DialogButtonsList {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 20px;
}

.DialogButtonsList button {
    margin-bottom: 20px;
}

/* Input */
.Input__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.Input__label {
    display: flex;
    flex: 1;
    color: #666;
}

.Input__input {
    display: flex;
    flex: 2;
    border: 1px solid #999;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    min-width: 0;
}

/* Modal */
.Modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(40, 40, 40, 0.6);
    flex-grow: 0px;
    flex-shrink: 1px;
    z-index: 100;
}

.Modal__modal {
    padding: 20px;
    min-height: 100px;
    min-width: 300px;
    display: flex;
    flex-grow: 0px;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 20px 0 #444;
    border-radius: 10px;
}

.Modal__title {
    color: #444;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.Modal__closeButton {
    border: 0px;
    position: absolute;
    right: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
}

.Modal__closeButton:hover {
    background-color: #ddd;
}

.Modal__content {
    padding-top: 20px;
}

/* Select */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    z-index: 1;
    outline: none;
}

:root {
    --select-border: #393939;
    --select-focus: #101484;
    --select-arrow: var(--select-border);
}

.select {
    min-width: 160px;
    max-width: 290px;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.4;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

/* Menu Custom Styles */
.dropdown {
    z-index: 100;
    display: block;
    position: absolute;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    min-height: 40px;
    background-color: #fff;
}

.dropdown .item {
    margin: 0 8px 0 8px;
    padding: 8px;
    color: #050505;
    cursor: pointer;
    line-height: 16px;
    font-size: 15px;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    border: 0;
    min-width: 268px;
}

.dropdown .item .text {
    display: flex;
    line-height: 20px;
    flex-grow: 1;
    min-width: 150px;
}

.dropdown .item .icon {
    display: flex;
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 12px;
    line-height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown .item:hover {
    background-color: #eee;
}

.dropdown .divider {
    width: auto;
    background-color: #eee;
    margin: 4px 8px;
    height: 1px;
}

/* TableActionMenuPlugin specific */
i.icon {
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.25em;
}

i.chevron-down {
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgxNHYxNEgwVjB6Ii8+IDxwYXRoIGZpbGw9IiMwMDAiIGQ9Ik0xMi4yOTMgMy4yOTNhMSAxIDAgMCAxIDEuNDE0IDEuNDE0bC01LjI5MyA1LjI5M2ExIDEgMCAwIDEtMS40MTQgMGwtNS4yOTMtNS4yOTNhMSAxIDAgMCAxIDEuNDE0LTEuNDE0TDcgNy41ODZsNS4yOTMtNC4yOTN6Ii8+PC9zdmc+);
}