#slide-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  font-size: 150%;
}
#slide-content {
  padding: 2rem;
}
#slide-content .trix-content {
    line-height: 1.8;
}

#slide-counter {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

#slide-swipe {
  display: none;
}

@media (max-width: 768px) {
  #slide-view {
    height: 80vh;
  }

  #slide-swipe {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: var(--color-border);
  }
}
