#slide-view {
  height: 100vh;
  display: flex;
  overflow: auto;
  padding: 2rem;
  box-sizing: border-box;
}

#slide-content {
  margin: auto;
  font-size: 150%;
}

#slide-content .trix-content {
    line-height: 1.8;
}

#slide-controls {
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#slide-counter {
  pointer-events: none;
}

#slide-goto {
  text-decoration: none;
}

#slide-swipe {
  display: none;
}

#slide-caption {
  display: none;
}

@media (max-width: 768px) {
  #slide-view {
    height: 80vh;
  }

  #slide-swipe {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: var(--color-border);
    align-items: center;
    justify-content: center;
  }

  #slide-caption {
    display: block;
    pointer-events: none;
    padding: 0.5rem;
    text-align: center;
    white-space: pre-wrap;
  }
}
