#slide-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: auto;
}

#slide-swipe {
  display: none;
}

@media (max-width: 768px) {
  #slide-view {
    height: 80vh;
  }

  #slide-swipe {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background: var(--border-color);
  }
}
