.nav-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.comment-avatar {
  margin-right: 0.4em;
}

.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
}

